%ul.pricing-table
  - if local_assigns[:show_controls]
    %li.title.text-center
      = render 'shared/control_header', object: content, text: content.name
  - else
    %li.title.text-breaker
      .row
        .large-2.medium-3.small-5.columns.right_border
          = link_to contents_path(content_types: content.attributes['content_type']) do
            = content.content_type.titleize
        .large-10.medium-9.small-7.columns
          = content.name


  %li.margined.text-breaker
    = raw content.body

  -#- if cat.title
  -#  %li.description
  -#    %strong Title:
  -#    = cat.title.name

  -#%li.cta-button
  -#  = link_to 'Fotoalbum', gallery_path(cat_id: cat.id), class: 'text-breaker radius button'
