%ul.pricing-table
  - if local_assigns[:show_controls]
    %li.title.text-center
      = render 'shared/control_header', object: content, text: content.name
  - else
    %li.title.text-breaker
      .row
        .large-2.medium-3.small-5.columns.right_border
          = link_to contents_path(content_types: content.attributes['content_type']) do
            = content.content_type.titleize
        .large-10.medium-9.small-7.columns
          = link_to content_path(content) do
            = content.name


  %li.margined.text-breaker
    = raw content.body

  - if local_assigns[:show_picts]
    %li.bullet-item
      %hr
      = render partial: 'shared/image_layout', locals: {objects: content.content_picts}
