= render layout: 'shared/form_layout', locals: {object: @content, html_opts: {class: 'pad_top'}} do |f|
  = render layout: 'shared/form_field', locals: {f: f, name: :content_type} do
    = f.collection_select :content_type, f.object.compatible_content_types, :to_s, :camelize

  = render layout: 'shared/form_field', locals: {f: f, name: :name} do
    = f.text_field :name, placeholder: 'Name..'

  - unless f.object.static?
    = render layout: 'shared/form_field', locals: {f: f, name: :ru_name} do
      = f.text_field :ru_name, placeholder: 'Russian Name..'

  = render layout: 'shared/form_field', locals: {f: f, name: :body} do
    = render partial: 'shared/editor', locals: {f: f}

  - unless f.object.static?
    = render layout: 'shared/form_field', locals: {f: f, name: :content_picts, text: 'Pictures'} do
      = render 'admin/contents/picts_form', f: f