.row.panel
  .large-12.medium-12.small-12.columns

    = form_for(@cat || Cat.new) do |f|
      = render 'shared/errors', object: f.object

      = render layout: 'shared/form_field', locals: {name: :name, text: 'Name'} do
        = f.text_field :name, placeholder: 'Name..'

      = render layout: 'shared/form_field', locals: {name: :is_cat, text: 'Is male gender'} do
        = f.check_box :is_cat

      = render layout: 'shared/form_field', locals: {name: :is_kitty, text: 'Is a kitty'} do
        = f.check_box :is_kitty

      = render layout: 'shared/form_field', locals: {name: :breeder, text: 'Breeder'} do
        = f.text_field :breeder, placeholder: 'Breeder..'

      = render layout: 'shared/form_field', locals: {name: :owner, text: 'Owner'} do
        = f.text_field :owner, placeholder: 'Owner..'

      = render layout: 'shared/form_field', locals: {name: :color_id, text: 'Color'} do
        = f.collection_select :color_id, Color.all, :id, :name, prompt: 'Color..'

      = render layout: 'shared/form_field', locals: {name: :breed_id, text: 'Breed'} do
        = f.collection_select :breed_id, Breed.all, :id, :name, prompt: 'Breed..'

      = render layout: 'shared/form_field', locals: {name: :title_id, text: 'Title'} do
        = f.collection_select :title_id, Title.all, :id, :name, prompt: 'Title..'

      = render layout: 'shared/form_field', locals: {name: :mother_id, text: 'Mother'} do
        = f.collection_select :mother_id, Cat.where(is_cat: false).all, :id, :name, prompt: 'Mother..'

      = render layout: 'shared/form_field', locals: {name: :father_id, text: 'Father'} do
        = f.collection_select :father_id, Cat.where(is_cat: true).all, :id, :name, prompt: 'Father..'

      = render layout: 'shared/form_field', locals: {name: :birthday, text: 'Birthday'} do
        = f.date_select :birthday, {}, class: 'large-4 medium-4 small-4 columns text-center'

      .actions
        = f.submit