.row{class: "#{('persisted' if f.object.persisted?)} #{('main' if f.object.main)}"}
  .large-3.medium-3.small-3.columns
    = f.object.main ? 'Main' : 'Slave'
    = f.hidden_field :main
  .large-6.medium-6.small-6.columns
    - if f.object.persisted?
      = image_tag f.object.pict.url
      = f.hidden_field :pict
    - else
      = f.file_field :pict
    = f.hidden_field :pict_cache
  .large-3.medium-3.small-3.columns

    = link_to '#', class: 'button round cat_pict_del' do
      = image_tag 'delete-icon-small.png'
      .hide-for-small-only
        Delete

    = f.hidden_field :_destroy, value: false
  %hr