= content_for :control_edit_button, flush: true do
  = link_to [:admin, object] do
    = image_tag 'edit-icon-small.png'

= content_for :control_title, flush: true do
  = text

= content_for :control_delete_button, flush: true do
  = link_to [:admin, object], method: :delete, confirm: 'Are you sure what you want to delete this object ?' do
    = image_tag 'delete-icon-small.png'

%ul.small-block-grid-1.medium-block-grid-3.large-block-grid-3.visible-for-small-only
  %li= yield :control_edit_button

  %li.text-breaker= yield :control_title

  %li= yield :control_delete_button

.row.show-for-medium-up
  .large-2.medium-3.small-4.columns= yield :control_edit_button

  .large-8.medium-6.small-4.columns.text-breaker= yield :control_title

  .large-2.medium-3.small-4.columns= yield :control_delete_button