- error = f.object.errors[name].first
.row
  .large-2.medium-2.small-2.columns.text-center.no-h-margin.no-h-padding
    = label_tag name, class: "no-h-margin inline right #{'error' if error}" do
      = text
  .large-10.medium-10.small-10.columns{class: ('error' if error)}
    = yield
    - if error
      %small.error= error
