%li.contents=     link_to t('menu.contents'), root_path
%li.expositions=  link_to t('menu.expositions'), expositions_path
%li.cats=         link_to t('menu.cats'), cats_path
%li.lady-cats=    link_to t('menu.lady_cats'), lady_cats_path
%li.kittens=      link_to t('menu.kittens'), kittens_path
%li.gallery=      link_to t('menu.gallery'), gallery_path
%li.guest-book=   link_to t('menu.guest_book'), guest_book_path
%li.links=        link_to t('menu.links'), links_path

