%li.cats=       link_to 'Cats', cats_path
%li.lady-cats=  link_to 'Lady-cats', lady_cats_path
%li.kittens=    link_to 'Kittens', kittens_path
%li.gallery=    link_to 'Gallery', gallery_path
%li.guest-book= link_to 'Guest book', guest_book_path
%li.links=      link_to 'Links', links_path
-#%li.contacts=   link_to 'Contacts', contacts_path

