%ul.pricing-table
  - if local_assigns[:show_controls]
    %li.title.text-center
      = render 'shared/control_header', object: cat, text: cat.name
  - else
    %li.title.text-breaker= cat.name

  %li.bullet-item
    = image_tag((cat.cat_picts.first.pict.url rescue PictureUploader::default_pict))

  -#%li.price $99.99
  - if cat.title
    %li.description
      %strong Title:
      = cat.title.name

  - if cat.breed
    %li.bullet-item
      %strong Breed:
      = cat.breed.name

  - if cat.color
    %li.bullet-item
      %strong Color:
      = cat.color.name

  - if cat.breeder
    %li.bullet-item
      %strong Breeder:
      = cat.breeder

  - if cat.owner
    %li.bullet-item
      %strong Owner:
      = cat.owner

  %li.cta-button
    %a.text-breaker.radius.button{href: '#'} Fotoalbum