= render layout: 'shared/form_layout', locals: {object: @page} do |f|
  = render layout: 'shared/form_field', locals: {f: f, name: :name, text: 'Name'} do
    = f.text_field :name, placeholder: 'Name..'

  = render layout: 'shared/form_field', locals: {f: f, name: :body, text: 'Body'} do
    -#= f.cktext_area :body, ckeditor: {:uiColor => '#BBBBBB', :toolbar => 'full'}
    = f.cktext_area :body, ckeditor: {:toolbar => 'full'}
    -#= f.text_area :body, placeholder: 'Page body..', rows: 10, class: 'ckeditor'