# encoding: UTF-8

%li= link_to 'lalka1', '#'
%li{class: 'active'}= link_to 'lalka1', '#'
%li= link_to 'lalka1', '#'
%li= link_to 'lalka1', '#'
%li= link_to 'lalka1', '#'
%li= link_to 'lalka1', '#'
%li= link_to 'lalka1', '#'
%li= link_to 'lalka1', '#'
