-## encoding: UTF-8

%li.cats=       link_to 'Cats', '#'
%li.lady-cats=  link_to 'Lady-cats', '#'
%li.kittens=    link_to 'Kittens', '#'
%li.gallery=    link_to 'Gallery', '#'
%li.guest-book= link_to 'Guest book', '#'
%li.links=      link_to 'Links', '#'
%li.contacts=   link_to 'Contacts', '#'
