!!!
%html
  %head
    %title Cattery
    = stylesheet_link_tag    'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags
  %body
    .row.panel
      .large-12.medium-12.small-12.columns.text-center
        %ul.side-nav.inline-list
          %li.dashboard= link_to 'Dashboard', '#'
          %li.cats= link_to 'Cats', '#'
          %li.messages= link_to 'Messages', '#'

    .row
      .large-8.medium-8.small-8.columns.large-offset-2.medium-offset-2.small-offset-2
        %p.notice= notice
        %p.alert= alert


    = yield

    .row.panel.footer
      %ul.side-nav.inline-list= yield :main_menu

    :javascript
      $(document).foundation();