!!!
%html
  %head
    %title Cattery
    = stylesheet_link_tag    'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags
  %body
    .fixed
      %nav.top-bar{'data-topbar' => '', role: 'navigation'}
        %ul.title-area
          %li.ico= image_tag 'ico_small.png'
          / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
          %li.toggle-topbar.menu-icon
            = link_to  '#' do
              %span Menu

        %section.top-bar-section
          / Right Nav Section
          %ul.right= render 'layouts/admin/menu_right_part'
          / Left Nav Section
          %ul.left= render 'layouts/admin/menu_left_part'

    = render 'layouts/flashes'

    = yield

    .row.panel.footer
      %ul.side-nav.inline-list= yield :main_menu

    :javascript
      $(document).foundation();