!!!
%html
  %head
    %title Cattery
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
  %body
    = content_for :main_menu do
      = render partial: 'layouts/application/menu'

    .fixed.show-for-small-only
      %nav.top-bar{'data-topbar' => '', role: 'navigation'}
        %ul.title-area
          %li.ico= image_tag 'ico_small.png'
          / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
          %li.toggle-topbar.menu-icon
            = link_to  '#' do
              %span Menu

        %section.top-bar-section
          / Right Nav Section
          %ul.right
          / Left Nav Section
          %ul.left
            = yield :main_menu

    = render 'layouts/flashes'

    .row.panel
      .large-4.medium-4.small-4.columns.panel.text-center
        = image_tag('ico.png')
      .large-2.medium-1.small-1.columns

      .large-6.medium-7.small-7.columns.panel.text-center
        %h1 DuoFold

    .row.panel
      .large-2.medium-2.small-2.columns.panel.hide-for-small-only
        %ul.side-nav= yield :main_menu

      .large-10.medium-10.small-12.columns.panel
        = yield

    .row.panel.footer
      %ul.side-nav.inline-list.small-block-grid-3.medium-block-grid-6.large-block-grid-6= yield :main_menu
      %hr
      %ul.small-block-grid-1.medium-block-grid-3.large-block-grid-3
        %li
          = image_tag 'email.png', class: 'left padded-right'
          %span.valign
            %strong Email
            %br
            vestfalka@gmail.com


        %li
          = image_tag 'skype.png', class: 'left padded-right'
          %span.valign
            %strong Skype
            %br
            vestfalka


        %li
          = image_tag 'viber.png', class: 'left padded-right'
          %span.valign
            %strong Viber
            %br
            +38050-901-1812


    :javascript
      $(document).foundation();