!!!
%html
  %head
    %title Cattery
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = content_for :main_menu do
      = render partial: 'layouts/menu'

    .row
      %ul.inline-list.right
        %li= link_to 'Home', root_path
        %li= link_to 'Contacts', '#'

    .row
      .large-8.medium-8.small-8.columns.large-offset-2.medium-offset-2.small-offset-2
        .notice= notice
        .alert= alert

    .row.panel
      .large-4.medium-4.small-4.columns.panel.text-center
        = image_tag('ico.png')
      .large-4.medium-4.small-4.columns.panel.text-center
        %h2 Bla Bla Bla
      .large-4.medium-4.small-4.columns.panel.text-center
        %h1 Duo Fold
    .row.panel
      .large-2.medium-2.small-2.columns.panel
        %ul.side-nav= yield :main_menu

      .large-10.medium-10.small-10.columns.panel
        = yield

    .row.panel.footer
      %ul.side-nav.inline-list= yield :main_menu

    :javascript
      $(document).foundation();