!!!
%html
  %head
    %title DuoFold
    = favicon_link_tag '/favicon.png', rel: 'apple-touch-icon', type: 'image/png'
    = favicon_link_tag '/favicon.ico'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = auto_discovery_link_tag(:atom, contents_url(format: 'atom'))
    = auto_discovery_link_tag(:rss, contents_url(format: 'rss'))
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
  %body
    = content_for :main_menu do
      = render partial: 'layouts/application/menu'

    .show-for-small-only
      .fixed
        %nav.top-bar{'data-topbar' => '', role: 'navigation'}
          %ul.title-area
            %li.ico= image_tag 'ico_small.png'
            / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
            %li.toggle-topbar.menu-icon
              = link_to  '#' do
                %span Menu

          %section.top-bar-section
            / Right Nav Section
            %ul.right
            / Left Nav Section
            %ul.left
              = yield :main_menu
      .top-bar-wrapper

    .row.pad_bottom.pad_top
      .large-10.medium-7.small-5.columns.no-h-padding
        = render 'layouts/application/locales'
      .large-2.medium-5.small-7.columns.text-center.no-h-padding
        = link_to contents_url(format: 'atom') do
          = image_tag('atom.png')
        = link_to contents_url(format: 'rss') do
          = image_tag('rss.png')

    = render 'layouts/flashes'

    .row
      .large-4.medium-4.small-4.columns.text-center
        -#= image_tag('ico.png', size: '120x120')
      .large-2.medium-1.small-1.columns

      .large-6.medium-7.small-7.columns.text-center
        %h1
          = link_to  'DuoFold', '/'

    %hr

    .row
      .large-2.medium-2.small-2.columns.hide-for-small-only
        %ul.side-nav= yield :main_menu

      .large-10.medium-10.small-12.columns
        = yield

    %hr

    .row.footer
      %ul.side-nav.inline-list.small-block-grid-4.medium-block-grid-4.large-block-grid-8= yield :main_menu
      %hr
      %ul.small-block-grid-1.medium-block-grid-3.large-block-grid-3
        %li
          = image_tag 'email.png', size: '32x32', class: 'left pad_right'
          %span.valign
            %strong.text-center Email
            %strong= link_to 'vestfalka@gmail.com', "mailto:vestfalka@gmail.com?subject='Site visit'"


        %li
          = image_tag 'skype.png', size: '32x32', class: 'left pad_right'
          %span.valign
            %strong Skype
            vestfalka


        %li
          = image_tag 'viber.png', size: '32x32', class: 'left pad_right'
          %span.valign
            %strong Viber
            +38050-901-1812

    :javascript
      $(document).foundation();